@model Projet.Models.Ecurie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ecurie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom_e)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_e)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nationalite_e)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nationalite_e)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EcurieID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
